.spinner {
    text-align: center;
    
    svg {
        width: 100px;
        
        path {
            --total-length: 136px; // Retrieved using getTotalLength()
            stroke-linecap: round;
            stroke-width: 6;
            stroke: #3673fd;
            fill: none;
            stroke-dasharray: var(--total-length) var(--total-length);
            /* animation: animate 5s cubic-bezier(0, 0.3, 0.7, 1) infinite; */
            animation: animate 2s linear infinite;
        }
    }

    @keyframes animate {
        0% {
            // Start from an empty path (with a negative offset)
            stroke-dashoffset: calc(-1 * var(--total-length));
        }
        30%,
        50% {
            // Fill the path towards the center, then pause for a bit
            stroke-dashoffset: 0;
        }
        80%,
        100% {
            // Remove the stroke, but now in the opposite direction
            stroke-dashoffset: var(--total-length);
        }
    }
}
